<html>
<head>
  <title>Comments</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>

</head>
<body ng-app="comment" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="page-header"> 
  <h1>Voter Interface</h1>
</div>

  
<div ng-repeat="candidate in candidates | orderBy: '-upvotes'">
    <input id="checkBox" type="checkbox" ng-click="selectionChange(candidate)">
    {{candidate.name}}
</div>
<form ng-submit="submitVotes()" style = "margin-top:30px;">
    <button type="submit" ng-disabled="submitted" >Submit Votes</button>
  </form>

<div ng-if="submitted">
<div class="page-header"> 
  <h1>Submitted Ballot</h1>
</div>
<div ng-repeat="selected in selectedCandidates | orderBy: '-upvotes'">
    <div>{{selected.name}}</div>
</div>
</div>


</div>
</div>
</body>
</html>